#header {
    height: 50px;
    background:#3167eb;
    color: #fff;
}

#branding h1 {
    color:#fff;
}

a:link,
a:visited {
    color: #10284e;
}

div.breadcrumbs {
    background:orange;
    color: black;
}

div.breadcrumbs a {
    color: black;
}


.module h2, .module caption, .inline-group h2 {
    background-color:orange;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background-color: #10284e;
    
}